body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Initial color */
    overflow: hidden;
}


#fade-container {
    text-align: center;
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#fade-container.show {
    opacity: 1;
}

#click-text {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5);
}

#click-text:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.7);
}

.snowflake {
    position: fixed;
    top: -10px;
    font-size: 20px;
    color: white;
    pointer-events: none;
    user-select: none;
    animation: fall linear infinite;
    z-index: 9999;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
